a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
}

nav{
    margin-left: 4em;
    margin-right: 4em;

}

.form-backdrop{

}

.form-container{
    margin-right: 4em;
    margin-left: 4em;
    /* width: 20em; */
}

input[type=text], select, textarea{
    width: 100%;
    border-radius: 1px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px gray solid;
    border-radius: 4px;

}